*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    padding: 40px; /* Increased padding for more space */
    background-color: darkgrey;
    box-shadow: 0 0 0 100px azure;
    border-radius: 10px;
    
}

h1, p, h2 {
    text-align: center;
}

h1 {
    font-size: 70px;
    
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
    border-radius: 10px;
}

#tribute-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}





#img-div {
    background-color: azure;
    padding-top: 10px;
    
    
}



#quote {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}

.final{
    padding-top: 20px;;
    text-align: center;
}
 #desc{
    margin-top: -10px;
}

#tribute-info > ul > li {
    width: 60%;
    margin:20px auto;
    line-height: 30px;
}